apiVersion: v1
kind: Pod
metadata:
  name: notifications-api
  labels:
    app: notifications-api
spec:
  initContainers:
    - name: wait-for-notifications-db
      image: mcr.microsoft.com/mssql-tools:latest
      env:
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: notifications-secret
              key: DB_PASSWORD
      command:
        - /bin/bash
        - -c
        - |
          echo "Waiting for SQL Server..."
          until /opt/mssql-tools/bin/sqlcmd \
            -S notifications-db,1435 \
            -U sa \
            -P "$DB_PASSWORD" \
            -Q "SELECT 1" \
            -C > /dev/null 2>&1
          do
            sleep 5
          done
  containers:
    - name: notifications-api
      image: notifications-api:latest
      imagePullPolicy: IfNotPresent
      ports:
        - containerPort: 8080
      env:
        - name: ASPNETCORE_URLS
          value: http://+:8080
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: notifications-config
              key: DB_HOST
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: notifications-config
              key: DB_NAME
        - name: ASPNETCORE_ENVIRONMENT
          valueFrom:
            configMapKeyRef:
              name: notifications-config
              key: ASPNETCORE_ENVIRONMENT
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: notifications-secret
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: notifications-secret
              key: DB_PASSWORD
